@import '../../styles/index.scss';

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: red;
}